@font-face {
    font-family: "Beaufort";
    src: url("../assets/fonts/BeaufortforLOL-Bold.woff2") format("woff2"),
        url("../assets/fonts/BeaufortforLOL-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Beaufort";
    src: url("../assets/fonts/BeaufortforLOL-Regular.woff2") format("woff2"),
        url("../assets/fonts/BeaufortforLOL-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

img {
    width: 15em;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

body {
    font-family: "Beaufort";
    background-color: #0c171d;
    color: #e8deaf;
    position: relative;
}

#root {
    background-color: #0c171d;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 2em;
    border-radius: 3px;
    isolation: isolate;
}

.img-header {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
}

.img-header:after {
    margin-top: 1em;
    content: "";
    width: 100%;
    display: block;
    border-bottom: 2px solid #38290e;
}

@media only screen and (min-width: 820px) {
    #root {
        border: 5px solid #38290e;
        width: 50vw;
    }

    body {
        display: grid;
        justify-content: center;
        padding: 1em;
    }

    body:before {
        content: "";
        background: url("../assets/background.jpg");
        position: absolute;
        height: 100%;
        inset: 0;
        background-size: cover;
        opacity: 0.5;
        background-attachment: fixed;
    }
}
