.end-screen {
    padding: 1.5em 1em;
    border-radius: 8px;
    width: 100%;
    min-height: 50%;
    display: flex;
    flex-direction: column;
}

.current-question {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.current-question-header {
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
    margin-bottom: 1em;
}

.current-question-choices {
    display: grid;
    gap: 2em;
    margin-block: auto;
    width: 100%;
}

.current-question-choice {
    border: 3px solid #38290e;
    font-family: "Beaufort";
    color: #e8deaf;
    background-color: #0c161d;
    border-radius: 8px;
    padding: .5em 1em;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.end-screen img {
    width: 1.5em;
}

.end-screen .forward-arrow {
    transform: scaleX(-1)
}

.score {
    text-align: center;
    margin-block: 2em;
}

.end-screen-footer {
    margin-top: auto;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center; 
    gap: 1em;
}

.arrows {
    grid-column: 1;
}

.back-arrow {
    margin-right: 1em;
}

.forward-arrow {
    margin-right: -1em;
}

.end-screen-footer button {
    display: block;
    border: 3px solid #38290e;
    font-family: "Beaufort";
    color: black;
    background-color: #c28f2b;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 8px;
    font-size: 1.5rem;
    width: 9em;
    box-shadow: 5px 5px 15px 5px #000000;
    margin-inline: auto;
    grid-column: 1 / -1;
}

.leaderboard {
    grid-column: 3;
}

.leaderboard img {
    width: 2.5em;
}

.correct {
    background-color: rgb(1, 65, 1);
}

.wrong {
    background-color: rgb(110, 1, 1);
}


@media only screen and (min-width: 820px) {
    .current-question-choices {
        grid-template-columns: repeat(2, auto);
    }

    .end-screen {
        border: 3px solid #38290e;
    }

    .end-screen-footer button {
        grid-row: 1;
        grid-column: 2;
        
    }
}

@media only screen and (min-width: 1400px) {
    .current-question-header {
        margin-block: auto;
    }
}