.start-screen button {
    border: 3px solid #38290e;
    font-family: "Beaufort";
    color: #e8deaf;
    background-color: #0c161d;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 8px;
    padding: .5em 1em;
    font-size: 1.5rem;
    width: 9em;
    box-shadow: 5px 5px 15px 5px #000000;
}

.start-screen h1 {
    color: #e8deaf;
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-block: 1em;
}

.difficulty h1 {
    margin-top: .5em;
}

.difficulty-buttons,
.category-buttons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1em;
}

button.start-button {
    display: block;
    margin-inline: auto;
    margin-top: 2em;
    border: 0;
    background-color: #c28f2b;
    color: black;
    width: 100%;
    max-width: 300px;
}

